ProyectoWindowsForm/Service References/ServicioWebJava/WebServiceMYSQL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS.com/" targetNamespace="http://WS.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Validar" type="tns:Validar" />
  <xs:element name="ValidarResponse" type="tns:ValidarResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Validar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>